
.booking-form {
  width: 500px;
  margin: 0 auto;
  background: #f9fbff;
  padding: 30px 24px;
  border-radius: 12px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}

.booking-form h2 {
  text-align: center;
  margin-bottom: 24px;
  color: #007bff;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  text-align: start;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  background-color: white;
  color: rgb(47, 46, 46)!important;
  transition: 0.375s ease-in-out;
}

.booking-form button {
  background: var(--blue);
  color: white;
  padding: 7px 0px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s ease;
}

.booking-form button:hover {
  background: #2c64a1;
}

@media (max-width: 768px){
  .booking-form {
    max-width: 300px;
  }
}