.about-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    cursor: pointer;
}
.about-title p{
    font-family: var(--content);
}
.about-title {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-card {
    transition: .375s ease-in-out;
}

.about-card:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .about-title {
        padding: 0;
    }
    .about-cards {
        display: flex;
        flex-direction: column;
    }
}